// Custom styles.
// 添加背景图 bg.jpg为图片名称
body{
    background:url(/images/09.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
// 主页文章添加阴影效果
.post {
    //-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    //-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
    // color:#ffffff;
    // background-color:rgb(29, 31, 32);
}

